.navbar {
    display: block;
    background-color: rgb(232, 232, 232, 0.7);
}

.nav-link {
    font-size: 20 !important;
    font-weight: 300px;
    color: #0c3e72 !important;
    font-family: GEDinarTwo-Light, GE Dinar Two;
}

.imglogo {
    height: 90px;
}

.carousel-control-next {
    top: 100px !important;
    width: 50px;
}


/* OUTER CONTAINER */

.tcontainer {
    overflow: hidden;
    width: 100%;
    /* Hide scroll bar */
}


/* MIDDLE CONTAINER */

.ticker-wrap {
    width: 100%;
    margin-left: 100%;
    /* padding-left: 100%; */
    /* Push contents to right side of screen */
}


/* INNER CONTAINER */

@keyframes ticker {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-100%, 0, 0);
    }
}

.ticker-move {
    /* Basically move items from right side of screen to left in infinite loop */
    display: inline-block;
    white-space: nowrap;
    /* padding-right: 100%; */
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: ticker;
    animation-duration: 15s;
}

.ticker-move:hover {
    animation-play-state: paused;
    /* Pause scroll on mouse hover */
}


/* ITEMS */

.ticker-item {
    display: inline-block;
    /* Lay items in a horizontal line */
    padding: 0 2rem;
}

@media only screen and (max-width: 768px) {
    .ticker-move {
        animation-duration: 20s;
    }
}

.navbar-nav .dropdown-menu {
    position: absolute !important;
}

.login {
    font-size: 18 !important;
    font-family: GEDinarTwo-Light, GE Dinar Two;
}

.signup {
    font-size: 18 !important;
    font-family: GEDinarTwo-Light, GE Dinar Two;
}

.list-group-item img:hover {
    width: 35px;
}

.tickernews {
    background-color: #0c3e72;
}

.ticker-item {
    color: white !important;
    font-size: 15;
    font-family: ArialMT, Arial;
}

.cardgroups {
    padding-top: 60px;
    padding-bottom: 60px;
}

.newss {
    color: white !important;
    font-size: 23px !important;
    font-family: GEDinarTwo-Medium, GE Dinar Two;
    font-weight: 500px;
}

.card1 {
    background-color: rgb(248, 172, 29, 0.93);
    height: 313px;
}

.card2 {
    background-color: rgb(248, 172, 29, 0.78);
    text-align: center;
    height: 313px;
}

.card3 {
    background-color: rgb(248, 172, 29, 0.62);
    text-align: center;
    height: 313px;
}

.card4 {
    background-color: rgb(248, 172, 29, 0.37);
    height: 313px;
}

.carddesignNew {
    padding-top: 0;
    padding-bottom: 60px;
}

.itemscontent {
    text-align: right;
    margin-top: 80px;
    margin-right: 90px;
}

.itemstext {
    margin-right: -45px;
    margin-top: 30px;
    font-family: GEDinarTwo-Light, GE Dinar Two;
    font-size: 20px;
    color: #0c3e72;
}

.itemscontent1 {
    text-align: center;
    margin-top: 80px;
}

.itemstext1 {
    margin-top: 30px;
    font-family: GEDinarTwo-Light, GE Dinar Two;
    font-size: 20px;
    color: #0c3e72;
}

.itemstext2 {
    margin-top: 23px;
    font-family: GEDinarTwo-Light, GE Dinar Two;
    font-size: 20px;
    color: #0c3e72;
}

.itemscontent2 {
    text-align: left;
    margin-top: 80px;
    margin-left: 70px;
}

.itemstext3 {
    margin-left: -45px;
    margin-top: 20px;
    font-family: GEDinarTwo-Light, GE Dinar Two;
    font-size: 20px;
    color: #0c3e72;
}

.notecontainer {
    background-image: URL("../img/Repeat Grid 8.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
}

.notecontainer1 {
    background-image: URL("../img/background_news.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
}

.titlecon {
    padding-top: 80px;
    font-family: GEDinarTwo-Medium, GE Dinar Two;
    font-weight: 500px;
    font-size: 30px;
    color: #0c3e72;
}

.titlecon1 {
    padding-top: 40px;
    font-family: GEDinarTwo-Light, GE Dinar Two;
    font-weight: 300;
    font-size: 30px;
    color: #0c3e72;
}

.logoata {
    margin-right: -30px;
}

.logoata1 {
    margin-left: -22px;
}

.style_content_plugin {
    text-align: center;
    font-family: GEDinarTwo-Light, GE Dinar Two;
}

.back_img_slider {
    background-image: URL("../img/Rectangle 9.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.logo_more {
    background-image: url("../img/Layer 2.png");
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
    font-weight: 300px;
    font-family: GEDinarTwo-Light, GE Dinar Two;
    font-size: 20px;
}

.logo_more a {
    color: #fff !important;
}


/*Slider in Footer Page*/

.slide-box {
    display: flex;
    justify-content: space-between;
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .slide-box img {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .slide-box img {
        -ms-flex: 0 0 33.3333%;
        flex: 0 0 33.3333%;
        max-width: 33.3333%;
    }
}

@media (min-width: 992px) {
    .slide-box img {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
}

.carousel-caption {
    padding: 20px;
    border-radius: .5rem;
}

.after_end_slider {
    padding-top: 74px;
    background-color: "rgba(224,224,225,0.34)";
}

.slide-box img {
    border-radius: 10%;
}

.text_in_slid {
    text-align: center;
}

.carousel-caption {
    width: 560px;
    left: 50% !important;
    bottom: 200px !important;
    display: flex;
}

@media (max-width: 1200px) {
    .carousel-caption {
        display: none !important;
    }
    .carousel-item img {
        width: 100% !important;
    }
}

.carousel-control-prev {
    left: 45.5%;
    top: 175px;
    width: 50px;
    height: 90px;
    opacity: 1.0;
}

.carousel-control-next1 {
    left: 44%;
    height: 90px;
    width: 50px;
    right: 0;
    position: absolute;
    top: 175px;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 15%;
    color: #fff;
    text-align: center;
}

.background_icon_slider {
    background-image: url("img/Rectangle 9.png");
    padding: 50px;
}

.carousel-control-prev-icon {
    background-image: url("../img/icon (1).png") !important;
    width: 60px !important;
    height: 100px !important;
}

.carousel-control-next-icon {
    background-image: url("../img/icon (2).png") !important;
    width: 60px !important;
    height: 100px !important;
}

.back_slider_iconss {
    width: 160px;
    margin: 0 auto;
    margin-top: -236px;
    position: relative;
}

.back_slider_iconss img {
    height: 90px !important;
}

.text_in_slid h5 {
    font-family: GEDinarTwo-Light, GE Dinar Two;
    font-weight: 300px;
    font-size: 30px;
    color: #f8b12c;
}

.text_in_slid p {
    font-family: GEDinarTwo-Light, GE Dinar Two;
    font-weight: 300px;
    font-size: 12px;
    color: #101010;
}